name: Build & Deploy FastAPI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t tranducthai/fastapi-app:latest .

      - name: Push Docker image
        run: |
          docker push tranducthai/fastapi-app:latest

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy FastAPI container via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            echo "Pulling latest Docker image..."
            docker pull tranducthai/fastapi-app:latest

            echo "Stopping old container (if exists)..."
            docker stop fastapi-app || true
            docker rm fastapi-app || true

            echo "Running new container..."
            docker run -d --name fastapi-app -p 5000:5000 tranducthai/fastapi-app:latest
